h1 {
  text-align: center;
  margin-bottom: 20px;
}

.myContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 640px;
}

form {
  max-width: 600px;
  min-width: 300px;
  padding: 20px;
  border-radius: 20px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
}

.html5form {
  background-color: rgb(250, 250, 250);
  background-color: #f2f2f2; 
}

.jsform {
  background-color: rgb(40, 44, 52);
  color: rgb(139, 152, 165);
  .myLable {
    color: rgb(139, 152, 165);
  } 
}

.firstName,
  .lastName {
    width: 49%;
   display: inline-block;
   text-align-last: auto;
  }

.form-group {
  margin-bottom: 0px;
}

.checkbox {
  margin: 0;
}

.required {
  color: red;
}

input,
select {
  opacity: 0.5;
}

.myInput {
  display: block;
  height: 36px;
  width: 100%;
  outline: none !important;
  padding-left: 15px;
  border-radius: 4px;
  border: 1px solid grey;
}

.mySubmit {
  margin-top: 20px;
  opacity: 0.5;
}

.icon-success {
  color: green;
  display: none;
}

.icon-error {
  color: red;
  display: none;
}

.myInput:focus,
.mySelect:focus {
  border: 1px solid dodgerblue;
  box-shadow: 0px 0px 5px dodgerblue;
}

.error-text {
  visibility: hidden;
  color: red;

}

.myInput:valid:not(:focus):not([value=""]),
.mySelect:valid:not(:focus):not([value=""]) {
  border: 1px solid green;
}


.myInput:valid:not(:focus):not([value=""])~.icon-success {
  display: block;
}

.myInput:invalid:not(:focus):not([value=""]) {
  border: 1px solid red;
}

.myInput:invalid:not(:focus):not([value=""])~.icon-error {
  display: block;
}

.myInput:invalid:not(:focus):not([value=""])~.error-text {
  visibility: visible;
}

::placeholder {
  opacity: 0.9;
}

.dateOfBirth {
  margin-top: 20px;
  margin-bottom: 20px;
}

.myLable {
  color: rgb(51, 51, 51);
  font-weight: bolder;
  margin-bottom: 5px;
}

.justifyContainer {
  text-align: justify;
  text-align-last: justify; 
}
.month,
.day,
.year {
  width: 32.3%; 
  display: inline-block;
}

.mySelect {
  height: 36px;
  border: 1px solid grey;
}

option:first-child {
  display: none;
}